.buisness-box{
    background-color: springgreen;
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    height: 300px;
    width: 500px;
    border-radius: 10px;
    margin: 20px auto;

}
.heading{
    font-size: 50px;
    font-family: 'Inter', sans-serif;
}
.btn{
    border: none;
    border-radius: 40px;
    padding: 10px 30px;
    background-color: white;
    font-size: 16px;
    font-weight: bold;
}
h1{
    font-weight: bold;
    margin: 0;
}
p{
    font-weight: bold;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}
.inner-one{
    margin: auto;
    padding: auto;
}